.navbar-brand img {
    width: 50px;
}

#main-title {
    text-align: center;
    margin: 15px 0 30px;
}

#contacts-table {
    max-width: 800px;
    margin: 0 auto;

}

#contacts-table th{
    color: #ffffff;
    background-color: #007bff;
}


#empty-list-text {
    text-align: center;
}

#msg{
    color:#155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6Cb;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
.delete-form {
    display: inline-block;
}
.action{
    text-align: right;
    width: 150px;

}

.edit-icon{
    color:#007bff;
}

.check-icon{
    color: #1e7e34;
}

.delete-icon {
    color:#8D2130;
}
.delete-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}




/* SHOW CONTATO INDIVIDUAL */

#view-contat-container {
    max-width: 500px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;

}

#back-link-container{
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

#back-link{
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
}

#create-form, #edit-form {
    margin: 0 auto;
    max-width: 500px;

}

.form-group {
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 10px;
}


#btn-create{
    margin-top: 20px;
}

/* MOBILE */
@media(max-width: 480px){
    #home-link{
        display: none;
    }
}